
body {
    font-family: 'Anton', sans-serif;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
}

/* Ocultando secciones */

.jugando-solo{
    display: none;
}

/* Colocando estilos */

.title-h1 {
    font-family: 'Anton', sans-serif;
    position: relative;
    text-align: center;
    font-size: 45px;
    letter-spacing: 1.5px;
    top: 1em;

    color: #f57f17;
}


/* Botones */

.botones {
    text-align: center;
    position: relative;
    top: 5em;
}

.boton-jugarsolo {
    width: 300px;
    height: 50px;
    background: linear-gradient(80deg, #f57f17, #ffb300);
    color: white;

    border: 0;
    border-radius: 15px;

    font-family: 'Anton', sans-serif;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;

    cursor: pointer;
}

/* SECCIÓN BOTÓN JUGAR SOLO */

.jugando-solo {
    position: relative;
    text-align: center;
    top: 2em;
}

.informacion1 {
    position: relative;
    left: -3.2em;
}

.text-nombre, .opcion-elegir {
    width: 25%;
    height: 50px;
    border-radius: 15px;
    border: 1px solid #f57f17;
    text-align: center;
    font-size: 15px;

    font-family: 'Anton', sans-serif;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;

    color: #f57f17;
    outline: none;
}

.text-nombre::placeholder {
    font-size: 15px;
}

.opcion-elegir::placeholder {
    font-size: 15px;
}

.inputs:focus, .text-nombre:focus, .text-nombre[type]:focus, .opcion-elegir:focus, .opcion-elegir[type]:focus{
    background-color: #eeeded;
    border-color: #64dd17;
    color: black;
}

.opcion-elegir {
    margin-top: 2em;
}

.informacion1 {
    position: relative;
    top: 0.8em;
    font-size: 15px;
}

.resultado1 {
    font-size: 15px;
    margin-top: 2em;
}

.resultado2 {
    font-size: 15px;
    margin-bottom: -0.5em;
    margin-top: -1em;
}

.boton-winOrLost {
    width: 200px;
    height: 60px;
    margin-top: 2em;
    border-radius: 15px;
    border: 1px solid #ffb300;

    font-family: 'Anton', sans-serif;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;

    font-size: 15px;
    color: #ffb300;
    background: none;
    cursor: pointer;
}

.nota-principal {
    font-size: 15px;
    position: relative;
    text-align: center;

    top: 1em;
}

.nota2 {
    font-size: 15px;
    position: relative;
    left: -0.8em;
    top: -1.5em;
}

.nota {
    font-size: 15px;
    position: relative;
    left: -0.8em;
    top: -0.5em;
}

@media screen and (max-width: 481px) {
    .text-nombre, .opcion-elegir {
        width: 60%;
        height: 50px;
    }

    .informacion1 {
        position: relative;
        left: -2em;
        margin-bottom: 2em;
    }

    .boton-jugarsolo {
        width: 350px;
        height: 60px;
        font-size: 15px;
    }

    .imagen {
        position: relative;
        text-align: center;
        top: 10em;
    }
    
    .img-juego {
        width: 300px;
        height: 300px;
    
        border-radius: 15px;
    }

}


@media screen and (max-width: 1366px){
    .title-h1 {
        position: relative;
        font-size: 30px;
    }
    
    .imagen {
        position: relative;
        text-align: center;
        top: 10em;
    }
    
    .img-juego {
        width: 300px;
        height: 300px;
    
        border-radius: 15px;
    }

    .boton-jugarsolo {
        width: 300px;
        height: 50px;
    }
}