
body {
    font-family: 'Anton', sans-serif;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
}

/* Ocultando secciones */

.jugando-solo, .two-jugadores, .parte2-2jugadores{
    display: none;
}

/* Colocando estilos */

.title-h1 {
    font-family: 'Anton', sans-serif;
    position: relative;
    text-align: center;
    font-size: 45px;
    letter-spacing: 1.5px;
    top: 1em;

    color: #f57f17;
}


/* Botones */

.botones {
    text-align: center;
    position: relative;
    top: 8em;
}

.boton-jugarsolo, .boton-2jugadores {
    width: 350px;
    height: 60px;
    background: linear-gradient(80deg, #f57f17, #ffb300);
    color: white;

    border: 0;
    border-radius: 15px;

    font-family: 'Anton', sans-serif;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;

    cursor: pointer;
}

.boton-2jugadores {
    margin-top: 2em;
}

/* SECCIÓN BOTÓN JUGAR SOLO */

.jugando-solo {
    position: relative;
    text-align: center;
    top: 2em;
}

.informacion1 {
    position: relative;
    left: -3.2em;
}

.text-nombre, .opcion-elegir {
    width: 25%;
    height: 50px;
    border-radius: 15px;
    border: 1px solid #f57f17;
    text-align: center;
    font-size: 15px;

    font-family: 'Anton', sans-serif;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;

    color: #f57f17;
    outline: none;
}

.text-nombre::placeholder {
    font-size: 15px;
}

.opcion-elegir::placeholder {
    font-size: 15px;
}

.inputs:focus, .text-nombre:focus, .text-nombre[type]:focus, .opcion-elegir:focus, .opcion-elegir[type]:focus{
    background-color: #eeeded;
    border-color: #64dd17;
    color: black;
}

.opcion-elegir {
    margin-top: 2em;
}

.informacion1 {
    position: relative;
    top: 0.8em;
    font-size: 15px;
}

.resultado1 {
    font-size: 15px;
    margin-top: 2em;
}

.resultado2 {
    font-size: 15px;
    margin-bottom: -0.5em;
    margin-top: -1em;
}

.boton-winOrLost {
    width: 200px;
    height: 60px;
    margin-top: 2em;
    border-radius: 15px;
    border: 1px solid #ffb300;

    font-family: 'Anton', sans-serif;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;

    font-size: 15px;
    color: #ffb300;
    background: none;
    cursor: pointer;
}

/* SECCIÓN 2 JUGADORES */

.two-jugadores {
    text-align: center;
    position: relative;
    top: 4em;
}

.informacion2 {
    font-size: 15px;
    position: relative;
    left: -9.4em;
    top: -0.4em;
}

.falta-algo {
    position: relative;
    left: -3.7em;
    top: 0.8em;
    font-size: 15px;
}

.result-ganador, .info-result {
    font-size: 15px;
}

.result-ganador {
    position: relative;
    top: 1em;
}

.info-result {
    position: relative;
    bottom: -0.1em;
}

.jugador1-name, .jugador2-name {
    width: 25%;
    height: 50px;
    border-radius: 15px;
    border: 1px solid #f57f17;
    text-align: center;
    font-size: 15px;

    font-family: 'Anton', sans-serif;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;

    color: #f57f17;
    outline: none;
}

.jugador1-name::placeholder {
    font-size: 15px;
}

.jugador2-name::placeholder {
    font-size: 15px;
}

.inputs-2:focus, .jugador1-name:focus, .jugador1-name[type]:focus, .jugador2-name:focus, .jugador2-name[type]:focus{
    background-color: #eeeded;
    border-color: #64dd17;
    color: black;
}

.jugador2-name {
    margin-top: 2em;
}

.boton-siguiente {
    width: 200px;
    height: 60px;
    margin-top: 2em;
    border-radius: 15px;
    border: 1px solid #ffb300;

    font-family: 'Anton', sans-serif;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;

    font-size: 15px;
    color: #ffb300;
    background: none;
    cursor: pointer;
}

/* SECCIÓN PARTE 2 parte2-2jugadores */

.parte2-2jugadores {
    position: relative;
    text-align: center;
    top: 3em;
}

.nota2 {
    font-size: 15px;
    position: relative;
    left: -0.8em;
    top: -1.5em;
}

.nota {
    font-size: 15px;
    position: relative;
    left: -0.8em;
    top: -0.5em;
}

.opciones-elegir1, .opciones-elegir2 {
    width: 25%;
    height: 50px;
    border-radius: 15px;
    border: 1px solid #f57f17;
    text-align: center;
    font-size: 15px;

    font-family: 'Anton', sans-serif;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;

    color: #f57f17;
    outline: none;
}

.opciones-elegir1::placeholder {
    font-size: 15px;
}

.opciones-elegir2::placeholder {
    font-size: 15px;
}

.inputs-2:focus, .opciones-elegir1:focus, .opciones-elegir1[type]:focus, .opciones-elegir2:focus, .opciones-elegir2[type]:focus{
    background-color: #eeeded;
    border-color: #64dd17;
    color: black;
}

.nombre1, .nombre2 {
    position: relative;
    top: 0.8em;
    left: -9em;
    font-size: 15px;
}

.boton-ganador {
    width: 200px;
    height: 60px;
    margin-top: 1em;
    border-radius: 15px;
    border: 1px solid #ffb300;

    font-family: 'Anton', sans-serif;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;

    font-size: 15px;
    color: #ffb300;
    background: none;
    cursor: pointer;
}



@media screen and (max-width: 480px) {
    .text-nombre, .opcion-elegir {
        width: 60%;
        height: 50px;
    }

    .informacion1 {
        position: relative;
        left: -2em;
        margin-bottom: 2em;
    }

    .falta-algo {
        position: relative;
        left: -4em;
        margin-top: 2em;
    }

    .jugador1-name, .jugador2-name {
        width: 60%;
        height: 50px;
    }

    .opciones-elegir1, .opciones-elegir2 {
        width: 60%;
        height: 50px;
    }

    .nombre1, .nombre2 {
        position: relative;
        left: -5em;
    }
}


@media screen and (max-width: 1366px){
    .title-h1 {
        position: relative;
        font-size: 30px;
    }
    
}